@media (max-width: 768px) {
  .ag-theme-balham .ag-header-cell, 
  .ag-theme-balham .ag-cell {
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  /* Example: hide certain columns on smaller screens */
  .ag-theme-balham .ag-column-2 { 
    display: none; 
  }
  
}

.card {
  border: 1px solid #ccc; /* Add border to each card */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.card-view .col-md-4:not(:last-child) {
  margin-bottom: 0; /* Remove bottom margin from last column */
}

.card-view .col-md-4 {
  padding-bottom: 15px; /* Add padding between rows */
}