
<div class="pc-container">
    <div class="pcoded-content pb">
    <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6"  style="margin-top: 20px;">
                        <div class="page-header-title">
                            <h5 class="m-b-10">ICJS Search</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row searchbypanel">
                        <div class="col-md-3  col-12 mb-3">
                            <label class="form-label"> Police Station</label>
                            <sup class="text-danger top-0">*</sup>
                            <select id="policeStation" formControlName="psCode" data-errormessage-custom-error="" class="form-control form-select"  [ngClass]="{ 'is-invalid': isSubmitted && f['psCode'].errors }">
                                <option value="">Select</option>
                                <option *ngFor="let policestation of policestations" [value]="policestation.value">{{ policestation.text }}</option>
                            </select>
                            @if (f['psCode'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['psCode'].errors['required']) {
                                    <div>Police Station is required</div>
                                  }
                                </div>
                                }
                        
                        </div>
                        <div class="col-md-3  col-12 mb-3">
                            <label class="form-label"> FIR No.</label>
                            <sup class="text-danger top-0">*</sup>
                            <input type="text" formControlName="firNumber"  maxlength="7" tabindex="2"  class="form-control " [ngClass]="{ 'is-invalid': isSubmitted && f['firNumber'].errors }">
                            @if (f['firNumber'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['firNumber'].errors['required'] && isSubmitted) {
                                    <div>Fir Number is required</div>
                                  }
                                  @if (f['firNumber'].errors['pattern']) {
                                    <div>Invalid Fir Number</div>
                                  }
                                </div>
                            }
                        </div>
                        <div class="col-md-3  col-12 mb-3">
                            <label class="form-label">Year</label>
                            <sup class="text-danger top-0">*</sup>
                            <input type="text" formControlName="year"  maxlength="4" tabindex="2"  class="form-control " [ngClass]="{ 'is-invalid': isSubmitted && f['year'].errors }">
                            @if (f['year'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['year'].errors['required']) {
                                    <div>Year is required</div>
                                  }
                                  @if (f['year'].errors['pattern']) {
                                    <div>Invalid year</div>
                                  }
                                </div>
                            }
                        </div>
                        <div class="col-md-3 col-12 mb-3 pt-4 mt-1">
                            <button type="submit" class="btn btn-success text-white py-1">Search</button>
                        </div>
                </div>
            </form>
            </div>
            
        </div>
        <div class="row" *ngIf="isLoaded">
            <div class="col-sm-12  p-0">
                <div class="card">
                    <div class="card-body pb-0 pt-3">
                        <!-- icjs-search.component.html -->
<p-table [value]="firdata" [paginator]="false" [rows]="20" [columns]="columns" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>S.No</th>
        <th>Fir Number</th>
        <th>FIR Registration Date & Time</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <a   href="javascript:void(0)"  (click)="loadPillarData(rowData.firRegNum, rowData.firRegDate, form.controls['firNumber'].value, form.controls['psCode'].value)">
            {{ rowData.firRegNum }}
          </a>
        </td>
        <td>{{ rowData.firRegDate }}</td>
        <td>{{ rowData.firStatus }}</td>
      </tr>
    </ng-template>
    </p-table>
                    </div>
                </div>
            </div>
        </div>
      
        <modal id="modal-othterpillerdata">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="modalService.close();"></button>
            </div>
            <div class="modal-body">
                <app-tab-container></app-tab-container>
            </div>
        </modal>
    </div>
</div>