<div class="pc-container">
    <div class="pcoded-content pb" style="padding-bottom:90px;">
              <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10" >Serach Case</h5>
                        </div>
                    </div>
                </div>
            </div>
               </div>
              <div class="card mt-5">
                <div class="card-body">
                      <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div id="searchByFilingNumber" class="row searchbypanel">
                        <div class="col-md-3  col-12 mb-3">
                           <label class="form-label"> District  Name</label>
                            <sup class="text-danger top-0">*</sup>
                            <select  id="district" formControlName="district" class="form-control form-select" (change)="onDistrictChange($event)" >
                                <option value="">Select</option>
                                <option *ngFor="let district of Districts" [value]="district.value">{{ district.text }}</option>
                            </select>
                       
                        </div>
                        <div class="col-md-3  col-12 mb-3">
                           <label class="form-label"> Police Station</label>
                            <sup class="text-danger top-0">*</sup>
                            <select id="policeStation" formControlName="psCode" class="form-control form-select" [ngClass]="{ 'is-invalid': isSubmitted && f['psCode'].errors }">
                                <option value="">Select</option>
                                <option *ngFor="let policestation of policestations" [value]="policestation.value">{{ policestation.text }}</option>
                            </select>
                           @if (f['psCode'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['psCode'].errors['required']) {
                                    <div>Police Station is required</div>
                                  }
                                </div>
                                }
                        </div>
                        <div class="col-md-3  col-12 mb-3">
                         <label class="form-label">From Date</label>
                        <sup class="text-danger top-0">*</sup>
                        <input type="date" id="bdpFromDate"  class="form-control" formControlName="FromDate" maxlength="7" tabindex="2" >                          
                       @if (f['FromDate'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['FromDate'].errors['required'] && isSubmitted) {
                                    <div>From  Date is required</div>
                                  }
                                  @if (f['FromDate'].errors['pattern']) {
                                    <div>Invalid Fir Number</div>
                                  }
                                </div>
                            }
                        </div>
                        <div class="col-md-3 col-12 mb-3">
                            <label class="form-label">To Date</label>
                        <sup class="text-danger top-0">*</sup>
                        <input type="date" id="bdpToDate"     class="form-control" formControlName="ToDate" maxlength="7" tabindex="2">
                        @if (f['ToDate'].errors && isSubmitted) {
                                <div class="invalid-feedback">
                                  @if (f['ToDate'].errors['required'] && isSubmitted) {
                                    <div>To  Date is required</div>
                                  }
                                  @if (f['ToDate'].errors['pattern']) {
                                    <div>Invalid Fir Number</div>
                                  }
                                </div>
                            }
                       
                        </div>
                       
                    </div>
                    <div class="col-md-12 col-12 mb-3 pt-4 mt-1" style="text-align: right;">
                            <button type="submit" class="btn btn-success text-white py-1">Search</button>
                        </div>
                 </form>
                </div>
              </div>
               <div class="card-view row justify-content-around">
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center md-text text-primary" style="font-size: 24px;">Total On Going</h5>
                            <a href="javascript:void(0)" class="card-text text-center md-text text-primary alldata" style="font-size: 20px;" id="totalOnGoing" data-type="ongoing" 
                            (click)="totalDetails($event, 'ongoing')">0</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center md-text text-primary" style="font-size: 24px;">Listed Today</h5>
                             <a href="javascript:void(0)" class="card-text text-center md-text text-primary alldata" style="font-size: 20px;" id="listedToday" data-type="today" 
                            (click)="totalDetails($event, 'today')">0</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center md-text text-primary" style="font-size: 24px;">Listed This Week</h5>
                            
                            <a href="javascript:void(0)" class="card-text text-center md-text text-primary alldata" style="font-size: 20px;" id="listedThisWeek" data-type="nextsevendays" 
                            (click)="totalDetails($event, 'nextsevendays')">0</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center md-text text-primary" style="font-size: 24px;">Total Disposed</h5>
                           
                             <a href="javascript:void(0)" class="card-text text-center md-text text-primary alldata" style="font-size: 20px;" id="totalDisposed" data-type="disposed" 
                            (click)="totalDetails($event, 'disposed')">0</a>
                        </div>
                    </div>
                </div>
               </div>
                <div *ngIf="BackPage" class="row">
          <div class="col-sm-12 fld">
             <div class="card">
               <div class="card-body pb-0 pt-3">
                 <div  class="row">
                                        <div  class="col-md-12 col-lg-6 col-xl-6">
                                            <p>
                                                <label class="cus-labels-name" style="font-size: 20px; font-weight: 600;">{{ lbltype }}</label>
                                            
                                            </p>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-6" style="text-align: right;">
                                        
                                    
                                    <img src="assets/images/go-back-icon.png" alt="Nyaay Setu"  width="230px"  height="35px" (click)="lnkbackClick()">
                                    
                                        </div>
                                        
                                    
                    </div>
                  </div>
                </div>
              </div>
                </div>
                <div class="ag-theme-alpine" style="height: 100%; width: 100%;">
                    <div *ngIf="isCourtCaseListTable">
                     
                        <div class="row">
                            <div class="col-md-12">
                                <p-table [value]="courtCasesData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>S.No</th>
                                            <th>Police Station</th>
                                            <th>On Going</th>
                                            <th>Listed Today</th>
                                            <th>Listed This Week</th>
                                            <th>Disposed</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-case let-rowIndex="rowIndex">
                                        <tr>
                                            <td>{{ rowIndex + 1 }}</td>
                                            <td>{{ case.PS }}</td>
                                            <td>
                                                <a href="javascript:void(0);" (click)="CourtCasesDetails('ongoing', case.NcPoliceStnCode)">{{ case.ongoing }}</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" (click)="CourtCasesDetails('today', case.NcPoliceStnCode)">{{ case.today }}</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" (click)="CourtCasesDetails('nextsevendays', case.NcPoliceStnCode)">{{ case.next7days }}</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" (click)="CourtCasesDetails('disposed', case.NcPoliceStnCode)">{{ case.disposed }}</a>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="ag-theme-alpine" style="height: 100%; width: 100%;">
                <div *ngIf="isCourtCaseDetailTable">
                    <div class="row mb-1">
                        <div class="col-md-6 offset-md-6 d-flex justify-content-end mb-3">
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Search..." 
                                (input)="onQuickFilterCaseDetails($event)" 
                                 style="max-width: 300px;"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                          
                           <p-table 
                          
                           [value]="DetailscourtCasesData" 
                            [loading]="loading" 
                           [paginatorTemplate]="true"
                          [responsive]="true"
                          [rowHover]="true"  
                           [lazy]="true" 
                            [paginator]="true"   
                            [totalRecords]="DetailscourtCasesTotal" 
                            [rows]="10">
                             <ng-template pTemplate="header">
                                  <tr>
                                    <th>S.No</th>
                                    <th>CNR No.</th>
                                    <th>Police Stn Name</th>
                                    <th>Fir Number</th>
                                    <th>Fir Date</th>
                                    <th>Next Hearing Date</th>
                                    <th>Petitioner</th>
                                    <th>Respondent</th>
                                    <th>Stage</th>
                                  </tr>
                                </ng-template>
                              
                                <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                                  <tr>
                                    <td>{{i + 1}}</td>
                                    <td>
                                      <a href="javascript:void(0)" (click)="openCourtComponent(rowData.Cino)">
                                        {{rowData.Cino}}
                                      </a>
                                    </td>
                                    <td>{{rowData.PoliceStnName}}</td>
                                    <td>{{rowData.FirNo}}/{{rowData.FirYear}}</td>
                                    <td>{{rowData.RegDate}}</td>
                                    <td>{{rowData.NextDate}}</td>
                                    <td>{{rowData.Petitioner}}</td>
                                    <td>{{rowData.Respondent}}</td>
                                    <td>{{rowData.Stage}}</td>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorleft">
                            <div>
                              Showing {{ currentFirst }} to {{ currentLast }} of {{ DetailscourtCasesTotal }} records
                            </div>
                          </ng-template>
                              </p-table>
                        </div>
                    </div>
                </div>
                </div>
    </div>
</div>
 

       
  
  